/*GENERAL*/

a { 
	text-decoration: none;
}
#wrapper {
		max-width: 980%;
		margin: 0 auto;
		padding: 0 5%;
		background: orange;
	}
img{
	max-width: 100%;
	}
/*************
	HEADING
*************/ 
#logo  {
	text-align: center;
	margin: 0;
}
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background: #ffd0c2;
	border-color: #599a68;
}
/*h1, h2 {
	color: #fc3d80;
}*/
h1{
	font-family: 'Merriweather', serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal; /* determina si va en negrita o no*/
	line-height: 0.8em; /*Interlineado*/
}
h2 {
	font-size:  0.75 em;
	margin: -5px 0 0;
	font-weight: normal;
}

/*************
NAVIGATION
**************/
nav {
	background: #c799a6;
	text-align: center;
}
nav a, nav:visited{
	color: #fff;
}
nav a.selected{
	color: blue;
}

nav a:hover{
	color: purple;
}
nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
nav li{
	display: inline-block; /*este es para mostrar los elementos en forma horizontal*/
}
nav a {
	font-weight: 800;
	padding: 15px 10px;
}

#galeria{
	margin: 0;
	padding:0;
	list-style: none;
}

#galeria li{
	float: left;
	width: 45;
	margin: 2.5%;
	background-color: orange;
	color: #bdc3c7;
}

/*Galeria de imagenes de Servicios*/
#galeria1 li{
	float: left;
	width: 45;
	margin: 2.5%;
	background-color: orange;
	color: #bdc3c7;
	list-style: none;
}
#galeria li a p{
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}

/*************
 	FOOTER
**************/
footer{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color:  #000000;
}
.social-icon{   /*ajustar los iconos de las redes sociales*/
	width: 30px;
	height: 30px;
	margin: 0 5px;
}
/************************
	PÁGINA ACERCA DE
************************/
.profile-photo{
	display: block;
	max-width: 400px;
	margin: 0 auto 30px;
	border-radius: 100%;
}
/************************
	PÁGINA contacto
************************/
.contact-info li.phone a {
	background-image: url('../img/phone.png');
}
.contact-info li.mail a {
	background-image: url('../img/mail.png');
}
.contact-info li.Facebook a {
	background-image: url('../img/facebook.png');
}
/**************************************
para quitarle el formarto de lista 
viñetas
**************************************/
.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}
.contact-info a{
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}