a { 
	text-decoration: none;
}
#wrapper {
		max-width: 940px;
		margin: 0 auto;
		padding: 0 5%;
		background: orange;
	} 
#logo  {
	text-align: center;
	margin: 0;
}
header {
	background: #6ab47b;
	border-color: #599a68;
}
h1, h2 {
	color: #fff;
}
nav {
	background: #6db69c;
}
nav a, nav:visited{
	color: #fff;
}