/*GENERAL*/

a { 
	text-decoration: none;
}
#wrapper {
		max-width: 940px;
		margin: 0 auto;
		padding: 0 5%;
		background: orange;
	}
img{
	max-width: 100%;
	}
/*************
	HEADING
*************/ 
#logo  {
	text-align: center;
	margin: 0;
}
header {
	background: #ffd0c2;
	border-color: #599a68;
}
h1, h2 {
	color: #fff;
}
h1{
	font-family: 'Merriweather', serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal; /* determina si va en negrita o no*/
	line-height: 0.8em; /*Interlineado*/
}
h2 {
	font-size:  0.75 em;
	margin: -5px 0 0;
	font-weight: normal;
}

/*************
NAVIGATION
**************/
nav {
	background: #ffd0c2;
}
nav a, nav:visited{
	color: #fff;
}
nav a.selected{
	color: #32673f;
}

nav a:hover{
	color: blue;
}

#galeria{
	margin: 0;
	padding:0;
	list-style: none;
}

#galeria li{
	float: left;
	width: 45;
	margin: 2.5%;
	background-color: orange;
	color: #bdc3c7;
}
#galeria li a p{
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}
/*************
 	FOOTER
**************/
footer{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color:  #000000;
}

